[Desktop Entry]
Type=Application
Name=Weew
Exec=/usr/bin/weew
Icon=/usr/share/icons/weew/weew-logo.png
Comment=A music streaming app combining the power of music metadata providers & YouTube
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
# MimeType=x-scheme-handler/spotify;
